/node_modules
/public/storage
/storage/*.key
/storage
/vendor
.env
.env.example
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.idea
/public/uploads
_ide_helper.php
/bootstrap/cache
/bootstrap/cache/config.php
.env_local
.env_live
